{% extends "layout.html" %}

{% block content %}
<main class="container">
  <div class="section-content">
    <h2>Create an account</h2>

    <form method="POST" action="/add-user">
      {{ form.hidden_tag() }}

      <div class="form-group">
        {{ form.username.label }}

        {% if form.username.errors %}
        {% for error in form.username.errors %}
        <p class="error-message">{{ error }}</p>
        {% endfor %}
        {% endif %}

        {{ form.username }}
      </div>

      <div class="form-group">
        {{ form.password.label }}

        {% if form.password.errors %}
        {% for error in form.password.errors %}
        <p class="error-message">{{ error }}</p>
        {% endfor %}
        {% endif %}

        {{ form.password }}
      </div>

      <div class="form-group">
        {{ form.email.label }}

        {% if form.email.errors %}
        {% for error in form.email.errors %}
        <p class="error-message">{{ error }}</p>
        {% endfor %}
        {% endif %}

        {{ form.email }}
      </div>

      <div class="form-group">
        {{ form.birth_date.label }}

        {% if form.birth_date.errors %}
        {% for error in form.birth_date.errors %}
        <p class="error-message"> {{ error }} </p>
        {% endfor %}
        {% endif %}

        {{ form.birth_date }}
      </div>

      <div class="form-group">
        {{ form.address.label }}

        {% if form.address.errors %}
        {% for error in form.address.errors %}
        <p class="error-message">{{ error }}</p>
        {% endfor %}
        {% endif %}

        {{ form.address }}
      </div>

      {{ form.submit(class="btn-primary") }}
    </form>
  </div>
</main>
{% endblock %}
